body{
    margin: 0;
    padding: 0;

    font-family: Poppins,sans-serif;
    font-size: 15px;
    font-weight:40px;

    min-height: 100vh;
    overflow-x: hidden;  
}
.container{
    color: #0f766e;
    display: grid;
    place-items: center;

    margin: 160px auto;
    padding: 50px;

    width: 40%;
    max-width: 800px;

    border-radius: 10px;
    border: 4px solid transparent;

    transition: transform 0.5s ease;
    
    background:
    linear-gradient(cyan,#00ff95)padding-box,
    linear-gradient(to right, cyan, #00ff95) border-box;
}
.container:hover{
    transform: translateY(-7px) scale(1.05);
}

#btn{
  background-color: #5eead4; 
  color: #064e3b;            
  border: none;
  padding: 10px 24px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;


}
#btn:hover{
  background-color: #2dd4bf;
  color: #054334;
  transform: translateY(-2px);
}