body{
    margin: 0;
    padding: 0;
    font-family: Poppins,sans-serif;
    font-size: 15px;
    font-weight:40px;
    min-height: 100vh;
    overflow-y: hidden; 
    background: #f5f7fa;
}
.heading{
  font-size: 2em;
  margin: 50px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #4b4194;
}
#count{
  margin-top: 40px;
  display: block;
  text-align: center;
  font-size: 5em;
  font-family: Helvetica;
  color:  #0b3796;
}
.container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    place-content: center;
    gap : 40px;
    padding:80px;
    cursor: pointer;
    margin: 30px auto;
    border-radius: 12px;
    width : 40%;
    max-width: 700px;
    border: 3px solid transparent;

    transition: transform 0.5s ease;
    
    background: #ffffff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    
    
}
.container:hover{
    transform: translateY(-7px) scale(1.03);
}
#incre,#decre,#reset{
  background-color: #e0e7ff; 
  color: #4b64ab;            
  border: none;                                         
  padding: 10px 24px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;


}
#incre:hover,#decre:hover,#reset:hover{
  background-color: #a0b6ee;
  color: #1836a5;
  transform: translateY(-2px);
}